.how-it-works{
    &__body{
        @include flex-column-center-center;
        &__heading{
            @include flex-column-center-center;
            padding: 1vw;
            gap:1vw;
        }
        &__content{
            padding: 2vw;
        }
    }
}

.accordion{
    @include flex-center-center;
    &__body{
        width: 36vw;
        display: flex;
        flex-direction: column;
        gap:0.5vw;
        &__item {
            // box-shadow: -1px -1px 0px #66339916,1px 1px 0px #66339916;
            border: 1px solid $primary;
            overflow: hidden;
            border-radius: 32px;
            &__header {
                height: 4vw;
                display: flex;
                justify-content: space-between;
                padding: 1vw;
                align-items: center;
                cursor: pointer;
                transition: 0s linear;
        
                &:hover {
                    background-color: $primary-transparent;
                }
        
            }
        
            &__body {
                height: 0px;
                overflow: hidden;
                opacity: 0;
                transition: 1s ease all;
                p{
                    padding: 1vw;
                }
                &.--open {
                    height: auto;
                    background-color: $primary-transparent;
                    opacity: 1;
        
                    ul {
                        height: 100%;
                    }
                }
            }
        }
    }

}

@media screen and (max-width:768px) {

    .accordion-frame {
        &__header {
            height: 9.6vw;
        }

        &__body ul {
            grid-template-columns: 1fr 1fr;
            // gap:$mobile-gap;
            // padding: $mobile-gap;
            svg {
                width: 24px;
                height: 24px;
            }
        }
    }



}