.feature-banner{
    .grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 3vw;
        width: fit-content;
        margin: 3vw auto;
        place-items: center;
        
        &__item{
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column-reverse;
            padding: 2vw;
            gap: 2vw;
            min-height: 26vw;
            &__content{
                display: flex;

            }
        }
    }
}