.footer{
    font-family: $font-primary;
    display: flex;
    &__body{
        min-height: 16vw;
        background-image:
        radial-gradient(circle at 16% 4%, #0d1a5910 0%, #0d1a5910 32%, transparent 32%, transparent 100%),
        radial-gradient(circle at 80% 60%, #0d1a5910 0%, #0d1a5910 32%, transparent 32%, transparent 100%),
        radial-gradient(circle at 60% 2%, #0d1a5910 0%, #0d1a5910 16%, transparent 16%, transparent 100%),
        linear-gradient(0deg, silver,whitesmoke);
        width: 100%;
        @include flex-center-center;
    }
    .site-info{
        font-size: 0.84vw;
        @include flex-column-center-center;
        a{
        }
    }
}