

header{
    display: flex;
    min-height: 8vw;
    justify-content: space-between;
    align-items: center;
    padding: 4vw;
    nav{
        .menu{
            display: flex;
            li{
                margin:auto 2vw;
            }
        }
    }
}

#masthead{
    .site-branding{
        display: flex;
        width: fit-content;
    }
    a{
        display: flex;
        img{
            width: auto;
        }
    }
}