.carousel-products{
    li{
        border:1.2vw solid #fff;
        width: 24vw!important;
        height: 24vw!important;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        border-radius: 3.2vw;
        background-image:
        radial-gradient(circle at 12% 80%, #66339910 0%, #66339910 32%, transparent 32%, transparent 100%),
        linear-gradient(0deg, aliceblue,aquamarine);
        box-shadow: -1px -1px 1px #66339916,2px 2px 1px #66339916;
        .woocommerce-Price-amount.amount{
            color:$secondary;
            font-family: $font-primary-bold;
            font-size: 1.6vw;
        }
    }

}

.woocommerce-LoopProduct-link.woocommerce-loop-product__link{
    display: flex!important;
    @include flex-column-center-center;
}

ul.products
li.product{
    padding: 1vw;
    img{
        display: none;
    }
    .button{
        background-color: $write!important;
        padding: 1vw;
        color:#fff;
        font-family: $font-primary;
        border-radius: 32px;
    }
}