.woocommerce .col2-set, .woocommerce-page .col2-set{
	display: flex;
    flex-direction: column;
}

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2,
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: unset;
    width: 100%;
}


.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
    // padding: 0.6rem;
    // border-radius: 20px;
    // border-color: transparent!important;
}

.select2-container .select2-selection--single{
    height: 40px;
    margin: auto;
    border-radius: 20px;
}

.select2-container .select2-selection--single .select2-selection__rendered{
    height: 100%;
    display: flex;
    align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 100%;
    top: 0px;
    right: 8px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #a7a7a7 transparent transparent transparent;
    border-width: 8px 6px 0 6px;
    margin-left: -10px;
    margin-top: -4px;
}

.woocommerce-info::before{
    color:$primary;
}

.woocommerce-info{
    border-top-color: $primary;
}

#billing_company_field,
#billing_last_name_field,
#billing_first_name_field{
    label{
        display: none;
    }
}

.woocommerce form .form-row{
    margin: 1rem 0 1rem;
    padding: 0;
}