// basic variables

$white : #fff;
$grey : #F9F9F9;
$primary : #ff6d2c;
$primary-transparent : #f7bb1824;

$font-primary : 'Geomanist Regular';
$font-primary-bold : 'Geomanist Bold';
$font-primary-semi-bold : 'Poppins Semi-Bold';
$font-primary-medium : 'Geomanist Medium';

$font-secondary:'Inter Regular';

$write:#2E2F35;
$write-light:#5E5D5D;
