// basic variables

$white : #fff;
$primary-light : #f7bb17;
$primary : #f7bb18;
$primary-transparent : #f7bb1824;

$font-primary : 'Poppins Regular';
$font-primary-bold : 'Poppins Bold';

$write:#5E5D5D;
$secondary:#ef4022;
$secondary-transparent:#ef402218;

$alternative:#00AE43;