button{
    cursor: pointer;
    font-family: $font-secondary;
}

#btn-scroll-to{
    .elementor-button-content-wrapper{
        display: flex;
        align-items: center;
    }
    .elementor-button-link span{
        &::first-letter{
            text-transform: uppercase;
        }
    }
    svg{
        width: 100%!important;
    }
}


.btn-bms{
    justify-content: center;
    align-items: center;
    border: 2px solid #2e2f35;
    border-radius: 15px;
    box-shadow: 3px 3px 0 0 #2e2f35;
    transition: .2s;
    background-color: #ff6d2c;
    a{
        cursor: pointer;
        span{
            font-family: $font-primary-medium;
        }
    }
    &:hover{
        box-shadow: 0 0 0 0 #2e2f35;
        -webkit-transform: translate(4px, 4px);
        -ms-transform: translate(4px, 4px);
        transform: translate(4px, 4px)
    }
}

.btn-bms.--white{
    background-color: #fff;
    a{
        color:#2e2f35!important;
    }
}

@media screen and (max-width:800px){

    #btn-scroll-to{
        svg{
            width: 32px!important;
            height: 32px!important;
        }
    }

}
