h2,h1,h3{
    font-family: $font-primary-bold!important;
    color:$write;
}


ul.products li.product
.woocommerce-loop-product__title{
    text-decoration: none;
    font-size: 1.2vw;
    &::first-letter{
        text-transform: uppercase;
    }
}


#rotate-heading{
    strong{
        font-size: 52px!important;
    }
    em{
        color:#A7A7A7!important;
        font-style: initial!important;
    }
}


#carousel-heading{

    h3{
        font-size: 56px;
        font-family: $font-primary-bold;
        font-weight: 500;
    }
    > h3{
    height: 6vw;
    display: flex;
    align-items: center;
    }
    .splide__slide{
        h3{
            color:$primary; 
            font-family: $font-primary-bold!important;
        }
    }
}


#main-title *{
    font-size: 68px;
    font-family:$font-primary-bold;
    margin-block-end: 0;
    margin-block-start: 0;
}

#google-title,#main-title{
    span{
        font-family: 'Poppins';
    }
}


.bubble{
    &__heading{
        h2{
            color:$primary;
        }
    }
}

#stats{
    .stats{
        &__label{
            h4{
                font-family: $font-secondary;
                font-weight: initial;
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width:1600px){

    #carousel-heading{
        h3{
            font-size: 46px;
        }
    }

    #main-title *{
        font-size: 56px;
    }

    .bubble{
        &__heading{
            h2{
                font-size: 46px!important;
            }
        }
    }

    #stats{
        .stats{
            &__label{
                h4{
                    font-size: 16px;
                }
            }
        }
    }
    

}


@media screen and (max-width:800px){

    #carousel-heading{
        h3{
            font-size: 5.2vw;
        }
        > h3{
        height: auto;
        }
    }

    #main-title *{
        font-size: 34px;
    }

    .bubble{
        &__heading{
            h2{
                font-size: 32px!important;
            }
        }
    }

    #stats{
        .stats{
            &__label{
                h4{
                    font-size: 10px;
                }
            }
        }
    }
}
