ul,li,a{
    font-family: $font-secondary;
}

ul,li{
    &::marker{
        font-size: larger;
    }
}

a{
    text-decoration: none;
    color:$write;
}

a:visited{
    color:$write;
}

.menu{
    a{
        font-size: 22px;
        font-family: $font-primary-semi-bold;
    }
}

