p,span,div{
    font-family: $font-secondary;
}


.bubble{
    &__body{
        p{
            text-align: center;
        }
    }
}

#stats{
    .stats{
        &__content{
            .item{
                i{
                    font-style: normal;
                }
            }
        }
    }
}


@media screen and (max-width:800px){

    .bubble{
        &__body{
            p{
                font-size: 13px;
            }
        }
    }

    #stats{
        .stats{
            &__content{
                .item{
                    span,i{
                        font-size: 10px;
                    }
                }
            }
        }
    }

}
